/* Global Scrollbar Styles */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #959494;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}
