@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #8b5cf6;
  --color-primary-light: #f5f3ff;
  --color-primary-dark: #7c3aed;

  --color-purple-50: #f5f3ff;
  --color-purple-100: #ede9fe;
  --color-purple-500: #8b5cf6;
  --color-purple-600: #7c3aed;
}

body {
  background-color: #eff0f2;
  font-family: 'Inter', system-ui, sans-serif;
  color: #1e293b;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #959494;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}

/* Default scrollbar for other elements */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #959494;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-nunito-semibold {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0;
}